@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*стили для всех обычных ссылок*/
@mixin link(){
  color:$link-color;
  text-decoration:none;
  &:hover {
    color:$hover-color;
  }
  &:active{
    color:$down-color;
  }
}

@mixin fademe($link-color,$op){
  color: rgba($link-color, $op);
}


@mixin wrapper {
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;

  @include desktop-down{
    padding-left: 20px;
    padding-right: 20px;
    
  }
  @include mobile-down{
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

}

@mixin opensans($fv:300){
  font-family: "Open Sans", Arial, serif;
  font-weight: $fv;
}

@mixin h2 {
  font-family: $opensanslight;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  @include media($tablet){
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
  }

  @include media($desktop){
    font-size: 50px;
    line-height: 60px;
  }
}

@mixin media($width) {
  @media (min-width: $width) {
    @content;
  }
}


@mixin media($point) {
  @if $point == tv-only {
    @media (min-width: 1201px) { @content; }
  }
  @else if $point == desktop {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 900px)  { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 600px)  { @content; }
  }
}

@mixin tv-only {
  @media (min-width: 1201px) { @content; }
}
@mixin desktop-down {
  @media (max-width: 1200px) { @content; }
}
@mixin tablet-down {
  @media (max-width: 900px) { @content; }
}
@mixin mobile-down {
  @media (max-width: 600px) { @content; }
}