@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*стили для всех обычных ссылок*/
@mixin link(){
  color:$link-color;
  text-decoration:none;
  &:hover {
    color:$hover-color;
  }
  &:active{
    color:$down-color;
  }
}

@mixin fademe($link-color,$op){
  color: rgba($link-color, $op);
}


@mixin wrapper {
  max-width: 1300px;
  padding-left: $tv-pad-outer;
  padding-right: $tv-pad-outer;
  margin: 0 auto;

  @include desktop-down {
    padding-left: $desktop-pad-outer;
    padding-right: $desktop-pad-outer;
    
  }
  @include tablet-down {    
    padding-left: $tablet-pad-outer;
    padding-right: $tablet-pad-outer;
  }
  @include mobile-down {
    min-width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $mobile-pad-outer;
    padding-right: $mobile-pad-outer;
  }

}


@mixin tv-only {
  @media (min-width: 1201px) { @content; }
}
@mixin desktop-down {
  @media (max-width: 1200px) { @content; }
}
@mixin tablet-down {
  @media (max-width: 900px) { @content; }
}
@mixin mobile-down {
  @media (max-width: 600px) { @content; }
}

/*test purposes only*/
@mixin outline {
  outline: none;
}
