$color-high: #e64e21;
$color-mid: #f88c6c;
$color-low: #ffc59b;
$tool: #464646;
$accent: #e84e0e;
$color: #000;
$link: #e84d0f;
/* var for td width for percentage chart */
$chart-load: 100px;


/*grids*/
$mob-pad-side: 30px;
$mobile-pad-outer: 10px;
$mobile-pad-inner: 50px;

$tablet: 700px;
$tablet-pad-outer: 20px;
$tablet-pad-inner: 100px;

$desktop: 1200px;
$desktop-pad-outer: 20px;
$desktop-pad-inner: 158px;

$tv-pad-outer: 50px;
$tv-pad-inner: 158px;

$retina1: "min-resolution: 1.5dppx";
$retina2: "min-resolution: 144dpi";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&subset=latin-ext');
/* Dosis  as a free alternative for Chevin Pro font*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500&subset=latin-ext');

$opensanslight: "Open Sans Light", Arial, sans-serif;
$opensans: "Open Sans", Arial, sans-serif;
$opensansbold: "Open Sans Bold", Arial, sans-serif;
$chevinpro: "Chevin Pro", "Dosis", Arial, sans-serif;