.news {
	height: 75px;
	padding-top: 27px;

	display: flex;
	justify-content: center;

	box-sizing: border-box;
	text-align: center;
	font-family: $opensanslight;
	font-size: 16px;
	line-height: 20px;
	@include wrapper();

	@include mobile-down() {
		height: auto;
		padding-bottom: 27px;
		flex-direction: column;
	}
}

.news__text {
	margin: 0 10px;
}

.news__date {
	color: #7d7d7d;
	text-transform: uppercase;
	font-size: 12px;
}

.news__link {
	height: 20px;
	color: $link;
	@include mobile-down() {
		box-sizing: border-box;
		height: 20px;
		margin: 0 auto;
	}
}